[program: {{ program_name }}]
command={{ process_command }}
process_name={{ program_name }}
autostart=true
autorestart=true
priority=5
stopsignal=QUIT
stopasgroup=true
killasgroup=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0

[eventlistener:worker_exit]
command=/root/kill-supervisor.py
process_name={{ program_name }}
events=PROCESS_STATE_EXITED
