    {% if PHP_VERSION|int == 5 %}
    <IfModule proxy_fcgi_module>
        # Enable http authorization headers
        <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
        </IfModule>
        <LocationMatch "/phpfpm-status">
            RewriteEngine off
            {%- if string(PHPFPM_ENABLE_TCP) == "true" %}
            ProxyPass "fcgi://{{ PHPFPM_TCP_HOST|default("127.0.0.1") }}:{{ PHPFPM_TCP_PORT|int }}/{{ APACHE_DOCUMENTROOT}}/$1" 
            {% else %}
            ProxyPass "unix:/var/run/php5-fpm.sock|fcgi://localhost" 
            {%- endif %}
            {%- if MONITOR_PASSWD is defined %}
            Require expr %{QUERY_STRING}  =~ m#password={{ MONITOR_PASSWD }}#
            {%- else %}
            # OPENED -- FIXME
            {%- endif %}
        </LocationMatch>
    
        <FilesMatch ".+\.ph(p[3457]?|t|tml)$">
            {%- if string(PHPFPM_ENABLE_TCP) == "true" %}
            SetHandler "proxy:fcgi://{{ PHPFPM_TCP_HOST|default("127.0.0.1") }}:{{ PHPFPM_TCP_PORT }}/{{ APACHE_DOCUMENTROOT}}/$1"
            {%- else %}
            SetHandler "proxy:unix:/var/run/php5-fpm.sock|fcgi://localhost/"
            {%- endif %}
        </FilesMatch>
        <FilesMatch ".+\.phps$">
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files
            # only in specific virtual host or directory
            Require all denied
        </FilesMatch>
        # Deny access to files without filename (e.g. '.php')
        <FilesMatch "^\.ph(p[3457]?|t|tml|ps)$">
            Require all denied
        </FilesMatch>
    </IfModule>

{%- else %}

{% if PHP_VERSION|int == 7 %}
    <IfModule proxy_fcgi_module>
        # Enable http authorization headers
        <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
        </IfModule>
        <LocationMatch "/phpfpm-status">
            {%- if string(PHPFPM_ENABLE_TCP) == "true" %}
            ProxyPass "fcgi://{{ PHPFPM_TCP_HOST|default("127.0.0.1") }}:{{ PHPFPM_TCP_PORT|int }}/{{ APACHE_DOCUMENTROOT}}/$1" 
            {% else %}
            ProxyPass "unix:/var/run/php7.0-fpm.sock|fcgi://localhost" 
            {%- endif %}
            {%- if MONITOR_PASSWD is defined %}
            Require expr %{QUERY_STRING}  =~ m#password={{ MONITOR_PASSWD }}#
            {%- else %}
            # OPENED -- FIXME
            {%- endif %}
        </LocationMatch>
    
        <FilesMatch ".+\.ph(p[3457]?|t|tml)$">
            {%- if string(PHPFPM_ENABLE_TCP) == "true" %}
            SetHandler "proxy:fcgi://{{ PHPFPM_TCP_HOST|default("127.0.0.1") }}:{{ PHPFPM_TCP_PORT }}/path/to/your/documentroot/$1"
            {%- else %}
            SetHandler "proxy:unix:/var/run/php7.0-fpm.sock|fcgi://localhost/"
            {%- endif %}
        </FilesMatch>
        <FilesMatch ".+\.phps$">
            # Deny access to raw php sources by default
            # To re-enable it's recommended to enable access to the files
            # only in specific virtual host or directory
            Require all denied
        </FilesMatch>
        # Deny access to files without filename (e.g. '.php')
        <FilesMatch "^\.ph(p[3457]?|t|tml|ps)$">
            Require all denied
        </FilesMatch>
    </IfModule>
{% endif %}
{% endif %}
